<h2>My Heroes</h2>

<table class="table">
  <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Età</th>
        <th scope="col">Sesso</th>
        <th scope="col">Segni Particolari</th>
        <th scope="col">Note</th>
        <th scope="col">Azioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes">
        <th>{{hero.nome}}</th>
        <th>{{hero.eta}}</th>
        <th>{{hero.sesso}}</th>
        <th>{{hero.segni}}</th>
        <th>{{hero.note}}</th>
        <th>
          <button class="btn btn-lg btn-outline-primary" (click)="openModal(hero)">Modifica</button>
          <button>Visualizza</button>
          <button>Elimina</button>
        </th>
    </tr>
  </tbody>
</table>

