<div id="modal-content-wrapper" >
  <header id="modal-header">{{heroData.nome}} Details</header> 
  <div><span>id: </span>{{heroData.id}}</div>
  <section id="modal-body">
     <label>
       <input [(ngModel)]="heroData.nome" placeholder="name" />
     </label>
     <label>età:
       <input [(ngModel)]="heroData.eta" placeholder="età" />
     </label>
  </section>
  <footer id="modal-footer">
     <button mat-raised-button id="modal-cancel-button" (click)="confirm()" type='submit'>Confirm</button>
    <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
  </footer>
</div>

